body {
    font-family: Arial, sans-serif;
    background-color: #c0d2f0;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
}

header {
    background-color: #0a8da4;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}