<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts - Alexey Golovnia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>

        body {
            background-color: #c0d2f0;
            min-height: 100vh;
        }

        .contact-info {
            font-family: "Arial", sans-serif;
            padding: 20px;
        }

    </style>
</head>

<body>
    <div class="header">
        {% include 'header.html' %}
    </div>
    <div class="contact-info">
        <h3>Phone + WhatsApp</h3>
        <a href="tel:+48789770969">+48 789 770 969</a>
        <h3>Mail</h3>
        <a href="mailto:golovnia.alexey@gmail.com">golovnia.alexey@gmail.com</a>
        <h3>LinkedIn</h3>
        <a href="https://www.linkedin.com/in/alexey-golovnia/" target="_blank">https://www.linkedin.com/in/alexey-golovnia/</a>
        <h3>GitHub</h3>
        <a href="https://github.com/AlexeyGolovnia" target="_blank">https://github.com/AlexeyGolovnia</a>
    </div>
</body>
</html>