<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сергей Старостин - Веб-дизайнер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Главная</a></li>
                <li><a href="{{ url_for('portfolio') }}">Портфолио</a></li>
                <li><a href="#">Условия</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Блог</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <div class="intro-text">
                <h1>Сергей Старостин<br>Веб-дизайнер</h1>
                <p>Дизайн сайтов,<br>проектирование интерфейсов.</p>
                <p>Меня зовут Сергей, я веб-дизайнер. Я создаю адаптивные сайты, проектирую интерфейсы. Работаю с анимацией.</p>
                <button>Подробнее</button>
                <div class="social-links">
                    <a href="#"><img src="{{ url_for('static', filename='img/linkedin.webp') }}" alt="LinkedIn"></a>
                    <a href="#"><img src="{{ url_for('static', filename='img/github.png') }}" alt="github"></a>
                    <a href="#"><img src="{{ url_for('static', filename='img/vk.jpg') }}" alt="VK"></a>
                </div>
            </div>
            <div class="intro-photo">
                <img src="{{ url_for('static', filename='img/photo.png') }}" alt="Profile Photo">
            </div>
        </section>
        <aside class="contact-info">
            <p>+48 789 770 969</p>
        </aside>
    </main>
</body>
</html>
