<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфолио - Алексей Головня</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .projects img {
            width: 1024px;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section class="portfolio">
            <h1>My work</h1>
            <div class="projects">
                <div class="project">
                    <img src="{{ url_for('static', filename='img/project1.jpg') }}" alt="Проект 1">
                    <h2>Проект 1</h2>
                    <p>Описание проекта 1.</p>
                </div>
                <div class="project">
                    <img src="{{ url_for('static', filename='img/project2.jpg') }}" alt="Проект 2">
                    <h2>Проект 2</h2>
                    <p>Описание проекта 2.</p>
                </div>
                <!-- Добавьте больше проектов по мере необходимости -->
            </div>
        </section>
    </main>
</body>
</html>
